<ion-content class="ion-padding">
  <div class="container">
    <h1 class="title">Bem vindo de volta!</h1>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input label="E-mail" type="email" label-placement="floating" fill="outline" placeholder="Insira seu e-mail" />
      </ion-item>
      <ion-item>
        <ion-input label="Senha" type="password" label-placement="floating" fill="outline" placeholder="Insira sua senha">
          <ion-input-password-toggle slot="end" />
        </ion-input>
      </ion-item>
      <div class="forgot-password">
        <a>Esqueceu sua senha?</a>
      </div>
      <ion-button type="submit" expand="block">Entrar</ion-button>
    </form>
  </div>
</ion-content>
