.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-align {
    width: 100%;
    text-align: center;

    h1 { font-size: 8rem; }
    h3 { font-size: 4rem; }
    span { font-size: 1.5rem; }
  }
}

ion-button {
  margin-top: 24px;
}
