<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alterar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alterar senha</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input formControlName="password" label="Nova senha" type="password" label-placement="floating" fill="outline" placeholder="Insira sua nova senha">
        <ion-input-password-toggle slot="end" />
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="confirmPassword" label="Confirmar senha" type="password" label-placement="floating" fill="outline" placeholder="Insira sua nova senha">
        <ion-input-password-toggle slot="end" />
      </ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-margin-top" expand="block">Alterar senha</ion-button>
  </form>
</ion-content>
