<ion-content class="ion-padding">
  <h1>{{ 'RUN_HISTORY' | translate }}</h1>

  <ion-list>
    @if ((pageableRuns$ | async); as page) {
      @if (page.content.length > 0) {
        @for (run of page.content; track run.id) {
          <ion-card class="ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-header>
              <ion-card-title>{{ 'RUN' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="run-card">
                <p>{{ 'DISTANCE' | translate }}: {{ run.distance }} km</p>
                <p>{{ 'DURATION' | translate }}: {{ run.duration | secondsToTime }}</p>
                <p>{{ 'START_TIME' | translate }}: {{ run.startTime | date:'short' }}</p>
              </div>
            </ion-card-content>
          </ion-card>
        }
      } @else {
        <p>{{ 'NO_RUNS' | translate }}</p>
      }
    }
  </ion-list>
</ion-content>
