<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Esqueci minha senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Esqueci minha senha</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input formControlName="email" label="E-mail" labelPlacement="floating" placeholder="john.doe@me.com"></ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-margin-top" expand="block">Enviar código</ion-button>
  </form>
</ion-content>
