<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="challenges" href="/challenges">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Desafios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
