<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Segurança</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Segurança</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item [button]="true" routerLink="/profile/security/change-password">
      <ion-icon slot="start" name="lock-closed-outline" size="medium"></ion-icon>
      <ion-label>Alterar senha</ion-label>
      <ion-icon slot="end" name="chevron-forward" size="medium"></ion-icon>
    </ion-item>

    <ion-item [button]="true" id="delete-account-alert">
      <ion-icon slot="start" name="alert-circle-outline" size="medium"></ion-icon>
      <ion-label>{{ 'DELETE_MY_ACCOUNT' | translate }}</ion-label>
      <ion-icon slot="end" name="chevron-forward" size="medium"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-alert
  trigger="delete-account-alert"
  header="Cuidado!"
  message="Deseja mesmo deletar sua conta? Esta ação não tem volta"
  [buttons]="deleteAccountAlertButtons"
></ion-alert>
