<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Desafios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (challenge of challenges$ | async; track challenge.id) {
      <ion-card class="ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
          <ion-card-title>{{ challenge.title }}</ion-card-title>
          <ion-card-subtitle>{{ challenge.kilometers }} km</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ challenge.description }}
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
</ion-content>
